# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# --- Среды ---
venv/
.venv/

# --- Данные ---
chroma_db/
logs/
docs/*.pdf
docs/*.docx

# --- Системные ---
.env
*.lnk
*.bat
*.ps1
*.zip
*.jpg
*.png
.DS_Store
Thumbs.db
